body {
    background-color: white !important;
}

.mdl-layout__header-row {
    background-color: #263c53 !important;
}

.header-links {
    background-color: #326690 !important;
}

#button-prev {
    background-color: #263c53 !important;
}

#button-next {
    background-color: #263c53 !important;
}

.mdl-mini-footer {
    background-color: #326690 !important;
}

.mdl-mini-footer__right-section {
    color:white;
}

.mdl-mini-footer__left-section .mdl-logo{
    font-size:1.5rem !important;
}

.localtoc {
    color: darkslategray !important;
}